.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.form__input_title {
  padding: var(--spacing-xs);
}

.form__input_content {
  width: 100%;
  height: 400px;
  padding: var(--spacing-xs);
}

.form__input_content_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--fs-sm);

  &:has(.form__error) {
    justify-content: space-between;
  }
}

.form__content_length {
  justify-self: end;
  font-style: italic;
}

.form__error {
  font-size: var(--fs-sm);
  color: var(--error);
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-md);

  .actions__cancel {
    text-decoration: none;

    &:visited {
      color: currentColor;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
