.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-sm);
  height: 100%;
  min-width: 300px;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  padding: var(--spacing-sm);

  a {
    text-decoration: none;

    &:visited {
      color: currentColor;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
